.env

notes
data-notes

# Log files
app.log*
test-output.json

# Python cache directories
__pycache__/
*.pyc
*.pyo
*.pyd

# Chrome driver
**/chrome_driver
data_gather/riot_api/challenger_stats/test-output.json
